main {
    width: 100%;
}

header {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    background-color: aquamarine;
}

header > * {
    padding: 0;
    margin: 0;
}

header p {
    padding-bottom: 5%;
}

h1, h2 {
    padding-top : 5%;
    transition: 0.8s;
}

h1:hover, h2:hover {
    color: white;
    text-shadow: 1px 1px 10px black;
    transition: 0.8s;
}

main h1 {
    text-align: center;
    border : 3px dashed grey;
    border-bottom: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} 

h2 {
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content : space-between;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    background-color: beige;
    border-radius : 30px;
    padding: 2%;
}

fieldset {
    display: flex;
    flex-flow: column wrap;
    margin: 2%;
}

fieldset input, fieldset textarea {
    width: 90%;
    margin : 0 auto;
    text-align: center;
}

.radiobutton {
    flex-flow: row wrap;
}

.radiobutton > * {
    width: 10%;
}

tbody tr:nth-of-type(2n+1) {
    background-color : rgba(255, 255, 255, 0.4);
}

tbody a {
    color : black;
    font-weight: bold;
}

table {
    width: 90%;
    text-align: center;
    background-color: beige;
    border-radius: 20px;
    margin: 3% auto;
}

.leClient {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    text-align: right;
    margin : 0 5% 0 auto;
    width: 15%;
}

.leClient h2 {
    text-align: center;
}

.back {
    padding : 0 5%;
}

#buttons > * {
    width: 20%;
    margin: 0;
}

#buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#hideForm {
    text-align: center;
    margin: 2% auto;
}

#stayinButtons {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    margin: 2% 0;
}

#stayinButtons button {
    padding : 10px;
    margin: 1%;
    background-color: aquamarine;
    border: none;
    color: white;
    text-shadow: 1px 1px 10px black;
}

#stayinButtons button:hover {
    background-color: rgba(127,255,212, 0.5);
    color: black;
    font-weight: bolder;
}

.selected {
    display: none;
}