/* FONT FACE */
/* Appelle les polices de la page */

/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */


/* HEADER */
/* Ce qui concerne le header et la nav */

button {
    margin-left: 10%
}

/* MAIN */
/* Ce qui concerne le corps du site */
.rectangle {
    background-color: royalblue;
    margin-left: 10%;
    width: 400px;
    height: 300px;
    border-radius: 20%;
    transition: 0.3s;
}

#good {
    background-color: limegreen;
}

#important {
    background-color: firebrick;
}
/* FOOTER */
/* Ce qui concerne le footer */
